:root {
    --color: #F8B602;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}
.sidebar-icon i {
    font-size: 27px;
    color: var(--color);
}
.nav-title h2 {
    color: #2E2E2E;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
.nav-input {
    display: flex;
    gap: 30px;
}
.input-block {
    display: flex;
    align-items: center; 
    gap: 8px;  
}
.search-icon-block i {
    color: var(--color);
    font-size: 17px;
}

.search-input {
    width: 200px;
    outline: none;
    border: none;
    color: #A098AE;
}
.search-input::placeholder {
    font-size: 18px;
}
.shop-icon i {
    font-size: 20px;
    color: var(--color);
}
/* Order modal */
.order-modal {
    display: flex;
    gap: 36px;
    width: 600px;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    display: none;
}
.order-xmark {
    display: flex;
    gap: 50px;
    justify-content: end;
}
.order-xmark i {
    font-size: 30px;
}
.order-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 560px;
    background-color: white;
}
.order-modal-title h3 {
    color: #000;
    font-size: 26px;
    font-weight: 600;
}
.order-modal-title span {
    padding: 3px 10px;
    background-color: #F8B602;
    color: #2E2E2E;
    border-radius: 15px;
}

.order-modal-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: scroll;
    margin-top: 50px;
    /* height: 70vh; */
}
.order-modal-product {
    display: flex;
    gap: 10px;
}
.order-modal-product-image {
    width: 125px;
    height: 112px;
}
.order-modal-product-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.order-modal-product-title {
    display: flex;
    gap: 100px;
    align-items: center;
}
.order-modal-product-title h4 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    width: 250px;
}
.order-modal-product-title p {
    color: #4F4F4F;
    font-size: 22px;
    font-weight: 500;
}
.order-modal-prices {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.for-service, .total {
    display: flex;
    gap: 150px;
}
.for-service p, .total p {
    width: 130px;
    text-align: start;
}
.for-service b, .total b {
    width: 80px;
    text-align: end;
}

.for-service p {
    color: #A098AE;
    font-size: 14px;
    font-weight: 500;
}
.for-service b {
    color: #2E2E2E;
    font-size: 18px;
    font-weight: 500;
}
.total p {
    color: #2E2E2E;
    font-size: 18px;
    font-weight: 500;
}
.total b {
    color: #030000;
    font-size: 24px;
    font-weight: 500;
}
.order-modal-prices-btn {
    margin-top: 20px;
    display: flex;
    width: 373px;
    height: 64px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    border-radius: 16px;
    cursor: pointer;
}
.order-modal-prices-btn a {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}
.bread-and-tea {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bread-and-tea h3 {
    color: #000;
    font-size: 26px;
    font-weight: 600;
}

.bread-and-tea span {
    padding: 3px 10px;
    background-color: #F8B602;
    color: #2E2E2E;
    border-radius: 15px;
}
/* Order modal end */


/* Sidebar */
.sidebar {
    display: none;
}
.active {
    width: 245px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 76px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.xmark {
    position: absolute;
    top: 20px;
    right: 20px;
}
.xmark i {
    font-size: 30px;
    color: var(--color);
}
.sidebar-logo h2 {
    font-size: 32px;
    color: #2E2E2E;
}
.sidebar-logo h2 b {
    color: var(--color);
}
.sidebar-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.general, .orders, .about-kafe, .likes, .dislike, .aplication {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 204px;
    height: 32px;
    padding:24px;
    gap: 24px;
    border-radius: 16px;
    cursor: pointer;
}
.sidebar-active {
    background-color: #F8B602;
    box-shadow: 0px 20px 50px 0px rgba(46, 46, 46, 0.05);
}
.sidebar-active .general-logo i, .sidebar-active .general-text p {
    color: white;
}
.sidebar-active .orders-logo i, .sidebar-active .orders-text p {
    color: white;
}
.sidebar-active .about-kafe-logo i, .sidebar-active .about-kafe-text p {
    color: white;
}
.sidebar-active .likes-logo i, .sidebar-active .likes-text p {
    color: white;
}
.sidebar-active .dislike-logo i, .sidebar-active .dislike-text p {
    color: white;
}
.sidebar-active .aplication-logo i, .sidebar-active .aplication-text p {
    color: white;
}
.general-logo i, .orders-logo i, .about-kafe-logo i, .likes-logo i, .dislike-logo i, .aplication-logo i {
    color: #A098AE;
    font-size: 15px;
}
.general-text p, .orders-text p, .about-kafe-text p, .likes-text p, .dislike-text p, .aplication-text p {
    font-size: 14px;
    color:#A098AE;
}
/* Sidebar end */
/* Navbar end */

/* Main */
/* Banner */

.banner {
    width: 100%;
    background-color: var(--color);
    border-radius: 16px;
    margin-top: 32px;
    background-image: url(../images/banner_image.svg);
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 56px;
}
.banner-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner-title h1 {
    font-size: 32px;
    font-weight: 700;
    width: 400px;
    color: white;
}
.banner-title p {
    font-size: 14px;
    font-weight: 400;
    width: 460px;
    color: white;
}
/* Banner end */

/* Category */

.category {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.category-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-title h3 {
    font-size: #2E2E2E;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.category-title-link a, i {
    color: var(--color);
}  
.category-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
} 
.category-block {
    display: flex;
    width: 160px;
    height: 160px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.category-image-block {
    width: 106px;
    height: 106px;
}
.category-block-title p {
    color: #A098AE;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
/* Category */
/* Cart */
.cart {
    margin-top: 40px;
}
.cart-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-title h3 {
    color: #2E2E2E;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.product-block  {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 336px;
    height: 363px;
    padding: 12px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.product-image {
    width: 270px;
    height: 180px;
}
.product-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-rating {
    display: flex;
    justify-content: start;
}
.cart-title-link a, i {
    color: var(--color);
}

.star-widget input {
    display: none;
}

.star-widget label {
    color: #A098AE;
    float: right;
}

.product-text {
    display: flex;
    gap: 1px;
    margin-top: 10px;
}
.product-title h3 {
    color: #2E2E2E;
    font-size: 18px;
    font-weight: 500;
    width: 150px;
}
.product-title p {
    color: var(--color);
    font-size: 24px;
    font-weight: 700;
    text-align: start;
}
.product-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: var(--color);
    border-radius: 8px;
    cursor: pointer;
}
.product a i {
    color: white;
    font-size: 20px;
}
.orders-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.orders-now-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.orders-now-title h3 {
    text-align: center;
}
.date-time {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.kilometr, .time {
    color: #A098AE;
    font-size: 18px;
    font-weight: 400;
}

/* Cart end */
/* Pagination */

/* Pagination end */

/* Count */
.counter {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 130px;

}
.counter i {
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: #F8B602;
    border-radius: 8px;
}

#count {
    font-size: 20px;
}

.counter-btn {
    font-size: 1em;
    padding: 10px;
}
/* Count end */

/* Main end */


/* Responsive */

@media screen and (max-width:1024px) {
    .order-modal { 
        height: 0vh;
        top: 350px;
    }
}

@media screen and (max-height:600px) {
    .order-modal { 
        height: 90vh;
        top: 300px;
    }
}


@media screen and (max-width:910px) {
    .nav-title h2 {
        font-size: 30px;
    }
    .search-input {
        display: none;
    }
    .search-icon-block a i {
        font-size: 20px;
    }
    .banner {
        justify-content: center;
    }
    .banner-title h1, p {
        text-align: center;
    }
    .banner-title {
        align-items: center;
    }
    .category-main {
        justify-content: center;
        gap: 16px;
    }
}

@media screen and (max-width:820px) {
    .product-block  {
        gap: 40px;
    }
    .product {
        width: 320px;
    }
    .order-modal {
        height: 10px;
    }
}

@media screen and (max-width:700px) {
    .order-modal {
        width: 500px;
    }
    .order-modal-title {
        width: 460px;
    }
    .order-modal-product-title {
        gap: 10px;
    }
}

@media screen and (max-width:610px) {
    .nav-input {
        gap: 0px
    }
    .nav-title h2 {
        font-size: 25px;
    }
    .search-icon-block {
        display: none;
    }
    .search-input {
        display: none;
    }
    .shop-icon i {
        font-size: 25px;
    }
    .banner {
        background-image: none;
    }
    .banner-title h1 {
        width: 350px;
        font-size: 25px;
    }
    .banner-title p {
        width: 400px;
        font-size: 14px;
    }
    .order-modal {
        width: 400px;
    }
    .order-modal-title {
        width: 360px;
    }
    .order-modal-product-title {
        gap: 20px;
    }
    .order-modal-product-title h4 {
        font-size: 16px;
        width: 170px;
    }
    .order-modal-counter i {
        font-size: 15px;
        padding: 5px;
    }
    .order-modal-prices-btn {
        width: 270px;
    }
}

@media screen and (max-width:470px) {
    .nav-title h2 {
        font-size: 20px;
    }
    .banner-title h1 {
        width: 300px;
        font-size: 20px;
    }
    .banner-title p {
        width: 300px;
        font-size: 12px;
    }
    .category-main {
        justify-content: space-between;
        gap: 0px;
    }
    .cart-title-link {
        width: 100px;
    }
    .cart-title h3 {
        color: #2E2E2E;
        font-size: 18px;
        font-style: normal;
        width: 150px;
        font-weight: 700;
    }
    .category-main {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: start;
        gap: 1px;
        margin-top: 24px;
    } 
    .category-main::-webkit-scrollbar {
        display: none;
    }
    .order-modal-product-title {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .for-service, .total {
        gap: 40px;
    }
    .order-modal {
        width: 350px;
        height: 80vh;
        top: 330px;
    }
    .order-modal-title {
        width: 310px;
    }
    .order-xmark {
        align-items: center;
        gap: 20px;
    }
}

@media screen and (min-height:896px) {
    .order-modal {
        height: 63vh;
    }
}

/* Responsive end */